<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="user">
      <h2>
        <span>Användare</span> [<strong>{{ user.login }}</strong
        >]
      </h2>

      <dl class="row-md jh-entity-details">
        <dt><span>Inloggning</span></dt>
        <dd>
          <span>{{ user.login }}</span>
          <span *ngIf="user.activated" class="badge bg-success">Aktiverad</span>
          <span *ngIf="!user.activated" class="badge bg-danger">Inaktiverad</span>
        </dd>

        <dt><span>Förnamn</span></dt>
        <dd>{{ user.firstName }}</dd>

        <dt><span>Efternamn</span></dt>
        <dd>{{ user.lastName }}</dd>

        <dt><span>Mailadress</span></dt>
        <dd>{{ user.email }}</dd>

        <dt><span>Skapad av</span></dt>
        <dd>{{ user.createdBy }}</dd>

        <dt><span>Skapad datum</span></dt>
        <dd>{{ user.createdDate | date: 'dd/MM/yy HH:mm' }}</dd>

        <dt><span>Ändrad av</span></dt>
        <dd>{{ user.lastModifiedBy }}</dd>

        <dt><span>Ändrat datum</span></dt>
        <dd>{{ user.lastModifiedDate | date: 'dd/MM/yy HH:mm' }}</dd>

        <dt><span>Profiler</span></dt>
        <dd>
          <ul class="list-unstyled">
            <li *ngFor="let authority of user.authorities">
              <span class="badge bg-info">{{ authority }}</span>
            </li>
          </ul>
        </dd>
      </dl>

      <button type="submit" routerLink="../../" class="btn btn-info">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Tillbaka</span>
      </button>
    </div>
  </div>
</div>
